.containerm {
margin-top: 30px;
margin-bottom: 30px;
border-width:1px;
border-color: #e0e0e0;
border-radius: 5px;
border-style:solid;
box-shadow: 0px 0px 0px grey;
background-color: white;
padding: 0px 20px 0px 20px ;
max-width: 1008px
}

.containerflux {
max-width: 1000px;
border-width:1px;
border-color: #e0e0e0;
border-radius: 5px;
box-shadow: 0px 0px 0px grey;
background-color: none;
padding-top: 0px;
padding-right: 0px;
padding-left: 0px;
margin-bottom: 30px;
}

.case {
	border-color: #eee;
	border-radius: 5px;
	border-style:solid;
	border-width:1px;
	margin: 0px 2px 20px 2px;
	text-align: center;
	padding: 20px 0px 20px 0px
}

.caselisteproches {
	border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
	background-color: white;
	margin: 0px 2px 20px 2px;
	text-align: center;
	padding: 20px 0px 20px 0px
}

.case2 {
	border-color: #eee;
	border-radius: 5px;
	border-style:solid;
	border-width:1px;
}

.flux {
	border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
	background-color: white;
	margin: 0px 0px 10px 0px;
	padding: 0px 20px 20px 20px;
}

h1, h2, h3 {
font-weight:lighter;
}

body {
background-color:#efefef;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important; 
}

.flex {
   display: flex;
  flex-wrap: wrap;
}

.footer

    {background-color: #262F36;
    	padding-top: 20px;
    	padding-bottom: 20px;
    	color: white;}

.titresblocs {
	font-weight: 500;
	font-size: 1.8rem;
}

.margin20
{padding-top: 20px;
text-align: right;}

a {
    color: #262F36;
    text-decoration: none;
}

.btnflux {
	border : 0px;
}